# Ignorar ambiente virtual
.venv/
venv/

# Ignorar arquivos de cache do Python
**/__pycache__/
__pycache__/
*.pyc

# Ignorar banco de dados SQLite (use uma das opções)
*.sqlite3
# db.sqlite3

# Ignorar variáveis de ambiente e logs
.env
.env.*
*.log
